<?xml version="1.0" ?>
<!-- 
     	Webserver launchfile to use on groovy

	Need to clone roswww from https://github.com/jihoonl/roswww

	You can access your page on:
	http://localhost:8080/YOU_PACKAGE/YOUR_PAGE.html
	http://localhost:8080/YOU_PACKAGE/  access index.html
-->
<launch>

	<!-- Webserver + API (usefull to get informations via services) -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<!-- roswww puts your www folder on the webserver -->
	<param name="http/default" value="8080"/>
  	<node name="roswww" pkg="roswww" type="webserver.py" />	
	
</launch>
